.popup{
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    opacity: 0;
    transition: visibility .5s,opacity .7s linear;
    z-index: 3;
}

.popup_active_true{
    visibility: visible;
    opacity: 1;
}

.popup_active_false{
    visibility: hidden;
    opacity: 0;
}

.popup__main-container{
    display: flex;
    flex-direction: column;
}

.popup__footer-container{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    flex-direction: column-reverse;
}

.popup__icon-close{
    position: relative;
    align-self: flex-end;
    cursor: pointer;
}

.popup__container-with-link{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__container-with-link_theme_form{
    text-align: center;
}

.popup__container-with-link_theme_info-successfully{
    text-align: left;
}

.popup__info-successfully{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
}

@media (max-width: 480px){
    .popup__main-container {
        width: 100%;
        padding-top: 33px;
    }

    .popup__icon-close{
        width: 24px;
        right: 10px;
        bottom: 16px;
    }

    .popup__footer-container{
        height: 100%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .popup__container-with-link{
        margin: 0 0 auto;
    }

    .popup__info-successfully{
        padding: 35px 14px 14px;
    }

    .popup__container-with-link_theme_info-successfully{
        padding: 0 0 0 17px;
    }
}

@media (min-width: 481px){
    .popup__main-container{
        margin: auto;
    }

    .popup__footer-container{
        width: 430px;
        border-radius: 16px;
    }

    .popup__icon-close{
        left: 36px;
        width: 40px;
    }

    .popup__container-with-link{
        margin: 0 0 28px;
    }

    .popup__info-successfully{
        padding: 43px 36px 14px;
    }

    .popup__container-with-link_theme_info-successfully{
        padding: 0 0 0 38px;
    }
}