.popup{
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    opacity: 0;
    transition: visibility .5s,opacity .7s linear;
    z-index: 3;
}

.popup_active_true{
    visibility: visible;
    opacity: 1;
}

.popup_active_false{
    visibility: hidden;
    opacity: 0;
}

.popup__main-container{
    display: flex;
    flex-direction: column;
}

.popup__footer-container{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.popup__icon-close{
    position: relative;
    align-self: flex-end;
    cursor: pointer;
}

@media (max-width: 480px){
    .popup__main-container {
        width: 100%;
        padding-top: 56px;
    }

    .popup__icon-close{
        width: 24px;
        right: 10px;
        bottom: 16px;
    }

    .popup__footer-container{
        height: 100%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
}

@media (min-width: 481px){
    .popup__main-container{
        margin: auto;
    }

    .popup__footer-container{
        width: 430px;
        border-radius: 16px;
        flex-direction: column-reverse;
    }

    .popup__icon-close{
        left: 36px;
    }
}