.header__menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
}

.header__menu-li{
    border-bottom: 2px #fff solid;
    height: 100%;
    display: flex;
    align-items: center;
}

.header__menu-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}