.search-container{
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/background.jpg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container__header-text{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0;
}

.search-container__header-subtitle{
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
}

@media (max-width: 480px){

    .search-container__header-text{ 
        font-size: 36px;
        line-height: 40px; 
        max-width: 285px; 
    }

    .search-container__header-subtitle{
        max-width: 288px;
        margin: 16px 0 122px;
    }

    .search-container__info-text{
        margin-top: 86px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .search-container{
        height: 400px;
    }

    .search-container__header-text{
        font-size: 36px;
        line-height: 40px;
        max-width: 385px;
    }

    .search-container__header-subtitle{
        max-width: 452px;
        margin: 16px 0 48px;
    }

    .search-container__info-text{
        margin-top: 104px;
    }
}

@media (min-width: 769px){
    .search-container{
        height: 576px;
    }

    .search-container__header-text{
        max-width: 608px;
        font-size: 60px;
        line-height: 64px;
    }

    .search-container__header-subtitle{
        max-width: 545px;
        margin: 32px 0 64px;
    }

    .search-container__info-text{
        margin-top: 160px;
    }
}