.header{
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
    width: 100%;
    display: flex;
    align-content: center;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    position: absolute;
    z-index: 2;
}

.header_theme_black{
    background-color:#1A1B22;
}

.header__left-container{
    width: 50%;
    display: flex;
    align-items: center;
}

.header__text{
    color: #fff;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.header__right-container{
    width: 50%;
    height: 100%;
}

.header__menu-desktop{
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.header__authorization{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    min-width: 152px;
}

.header__previous-page{
    display: flex;
    width: 100px;
    padding: 9px 9px 9px 15px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    text-align: center;
    outline: none;
    text-decoration: none;
    height: 40px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    cursor: pointer;
}

.header__previous-page-image{
    height: 24px;
    width: 24px;
    position: absolute;
    right: 13px;
    top: 6px;
}

.header__button-menu-mobile{ 
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height:  24px; 
    margin: 16px 16px; 
    outline:none;
    border: none;
    cursor:pointer;
    background-color: Transparent;
}

.header__button-menu-mobile_theme_black{
    background-image: url(../../images/menu-white.png);
}

.header__button-menu-mobile_theme_white{
    background-image: url(../../images/menu-black.png);
}

.header__button-menu-mobile_state_close{
    background-image: url(../../images/close.svg);
}

.header__menu-mobile{
    height: 230px;
    position: absolute;
    background-color:#1A1B22;
    width: 100%;
    top: 56px;
    left: 0;
    z-index: 1;
    display: grid;
    justify-content: center;
    align-content: center;
}

@media (max-width: 480px){
    .header{
        height: 56px;
    }

    .header__text{
        margin-left: 16px;
    }

    .header__authorization{
        width: 288px;
        height: 56px;
    }

    .header__right-container{
        display: flex;
        justify-content: flex-end;
    }

    .header__menu-desktop{
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 768px){

    .header{
        height: 66px;
    }

    .header__text{
        margin-left: 40px;
    }
    
    .header__authorization{
        height: 40px;
        width: 152px;
        margin: auto 40px auto 16px;
    }

    .header__button-menu-mobile{ 
        display: none;  
    }
}

@media (min-width: 769px){

    .header{
        height: 80px;
    }

    .header__text{
        margin-left: 104px;
    }

    .header__authorization{
        height: 48px;
        width: 176px;
        margin: auto 104px auto 32px;
    }

    .header__button-menu-mobile{ 
        display: none;  
    }
}