.news-card-list-container{
    display: flow-root;
    background: #F5F6F7;
}

.news-card-list-container__title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    color: #1A1B22;
    margin: 0;
}

.news-card-list-container__button{
    margin: auto;
    display: block;
    background: #FFFFFF;
    border-radius: 80px;
    border: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #1A1B22;
}

.news-card-list-container__card-list{
    display: grid;
    justify-content: space-evenly;
    margin: auto;
}

@media (max-width: 480px){
    .news-card-list-container{
        padding: 24px 16px;
    }

    .news-card-list-container__title{
        font-size: 30px;
        line-height: 34px;
        width: 288px;
    }

    .news-card-list-container__card-list{
        grid-template-columns: repeat(auto-fit, 288px);
        gap: 10px;
    }

    .news-card-list-container__button{
        width: 288px;
        height: 56px;
        margin-top: 15px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .news-card-list-container{
        padding: 40px 32px;
    }

    .news-card-list-container__title{
        font-size: 30px;
        line-height: 34px;
    }

    .news-card-list-container__card-list{
        grid-template-columns: repeat(auto-fit, 224px);
        padding: 32px 0;
        gap: 8px;
    }

    .news-card-list-container__button{
        width: 240px;
        height: 56px;
    }
}

@media (min-width: 769px){
    .news-card-list-container_theme_main-page{
        padding: 80px 100px;
    }

    .news-card-list-container_theme_saved-news{
        padding: 0 100px;
    }

    .news-card-list-container__title{
        font-size: 40px;
        line-height: 46px;
    }

    .news-card-list-container__card-list{
        grid-template-columns: repeat(auto-fit, minmax(224px, 400px));
        padding: 64px 0;
        gap: 11px;
    }

    .news-card-list-container__button{
        width: 288px;
        height: 64px;
    }
}